################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackendTracker/obj/Debug/net9.0
/BackendTrackerTest/obj/Debug/net9.0
/.vs/BackendTracker
